.loginEmailPassword{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 1051px;
    max-width: 100%;
    margin:auto;
}
.login_img{
    width: 200px;
}
.loginContainer{
    width: 400px;
    height: auto;
    border: 1px solid black;
    padding: 20px;
}
.loginContainer > h1{
    margin-left: 5%;
    font-weight: 700;
}

#form{
   
    /* border: 1px solid green; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
#form > label{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-left: 5%;
    margin: 20px;
    margin-bottom: 2px;
}
#password, #email{
    width: 90%;
    height: 30px;
    outline: none;
   border-radius: 5px;
    margin: 0px auto;
    border: 1px solid black;
}
 #email:focus{
    border: 1px solid #f07019;;
}
#password:focus{
    border: 1px solid #f07019;;
}

#form > button{
    width: 90%;
    height: 30px;
    margin: 0px auto;
    border-radius: 5px;
    outline: none;
    margin-top: 5%;
    font-size: 15px;
    background-color: #f07019;
    border: none;
    cursor: pointer;

}
.text{
    width: 340px;
    height: auto;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 5%;
}
.text > p{
    font-size: 14px;
    
}
.need_wrapper{
    width: 200px;
    height: auto;
    margin-top: 5%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.flex_div{
    display: flex;
    width: 380px;
    height: auto;
    /* border: 1px solid black; */
}
.need_help{
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    /* border: 1px solid red; */
}
.pusto{
width: 70%;
height: auto;
/* border: 1px solid green; */
}
.need_help > p{
    font-size: 14px;
}
.help_text_down{
    display: none;
}
.help_text_down > a{
    font-size: 14px;
    text-indent: 15%;
    margin-top: 2%;
}
.ArrowDown{
    display: none;
}
#create_account{
    position: fixed;
    top: 600px;
    width: 370px;
    padding: 7px 0px;
    cursor: pointer;
}
.link_login{
    text-decoration: none;
    color: rgb(92, 138, 225);
}
.link_login:hover{
    text-decoration: underline;
}
.arrow_icon{
    color: black;
}